:root {
--btn-bg: #eec64c;
--menu-bg: #ffdf01;
--oob: #2121ff;
--food: #fab9b0;
}

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--menu-bg);
  height: 100vh;
}

.pacmanLogo {
  width: 50%;
}

button.start-play {
  width: 10%;
  height: 45px;
  cursor:pointer;
  border: black solid 2px;
  border-radius: 5px;
  box-shadow: 2px 2px red;
  background-color: var(--btn-bg);
}

button.main-menu {
  width: 10%;
  height: 45px;
  cursor:pointer;
  border: black solid 2px;
  border-radius: 5px;
  box-shadow: 2px 2px red;
  background-color: var(--btn-bg);
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.loading-screen h1 {
  color: white;
}

.gameplay-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 100vh;
}

.grid-wrapper {
  width: 800px;
}

.scores {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  color: white;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

/* Classes */
/* Regular cell - Empty available grid class*/
.cell {
  font-Size: 0px;
  border-radius: 10%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

/* out of bounds cell - walls and other cells the sprites cannot go*/
.oob {
  background-Color: var(--oob);
}

/* food - regular food class*/
.food {
  background-image: url(../assets/pacmanfood.png);
  background-size: 20%;
}

/* power pellet - power up food cell*/
.powerPellet {
  background-image: url(../assets/powerpellet.gif);
  background-size: 75%;
}

/* Pacman */
.pacman {
  background-image: url(../assets/pacman.gif);
  background-size: 120%;
}

/* Blinky - enemy */
.blinky {
  background-image: url(../assets/blinky.gif);
  background-size: 100%;
}

/* Pinky - enemy*/
.pinky {
  background-image: url(../assets/pinky.gif);
  background-size: 100%;
}

/* Inky - enemy*/
.inky {
  background-image: url(../assets/inky.gif);
  background-size: 100%;
}

/* Clyde - enemy*/
.clyde {
  background-image: url(../assets/clyde.gif);
  background-size: 100%;
}

/* Vulnerable state for enemies */
.vulnerable {
  background-image: url(../assets/vulnerable.gif);
  background-size: 100%;
}

.lives {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-top: 1em;
}

.lives-remaining {
  height: 20%;
  display: flex;
}

.life {
  background-image: url(../assets/pacman.gif);
  background-size: 100%;
  margin: 5px;
}

.ghost {
  
}

.gameover-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
}

.floating-ready {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 3em;
}
